@import "tailwindcss";


body {
  font-family: 'Lato', sans-serif;
}

.black-bg{
  background-color: #121212;  
}
.black-bg-30{
  background: #f0f0f057;
}
.color-font-branco{
  color: #F0F0F0;
}
.color-font-branco-50{
  color: #f0f0f091;
}
.color-font-branco-30{
  color: #f0f0f057;
}
.gradient{
  color: linear-gradient(180deg, #C438BA 0%, #34A3E8 50%, #C438BA 100%);
}
.light {
  background-color:#F0F0F0;
  color: #121212;
}

.dark {
  background-color:#121212;
  color: #F0F0F0;
}

.color-font-preto{
  color: #121212;
}
.color-font-preto-30{
   color: #767575;
}
.color-font-preto-50{
  color: #5c5c5c;
}
